
body {
	background: url('../images/scene.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container {
	background: #75B6A2;
	width: 424px;
	color: #EBF7F8;
	padding:19px;
}

h1 {
	font-size: 80px;
	font-family: 'Stick', sans-serif;
}

h2 {
	background: #E9A689;
	color: #7A0B2F;
	padding: 5px;
	border-radius: 5px;
}

p{
	font-family: 'Akaya Telivigala', cursive;
}
a {
	color: #ff0080;
	text-decoration: none;
	font-family: 'Noto Sans HK', sans-serif;
}